*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e0f7fa;
}

header {
  padding: 1em 0;
  color: #fff;
  text-align: center;
  background-color: #00796b;
}
header h1 {
  margin: 0;
  font-size: 2.5em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
}
main .genre {
  width: 80%;
  padding: 2em;
  margin: 2em 0;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
main .genre h2 {
  margin-top: 0;
  font-size: 2em;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
main .genre .albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .genre .albums .album-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 1em;
  transition: transform 0.3s;
}
main .genre .albums .album-container:hover {
  transform: scale(1.05);
}
main .genre .albums .album-container .album-cover {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
main .genre .albums .album-container .album-links {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}
main .genre .albums .album-container .album-links .album-button {
  display: block;
  padding: 10px 20px;
  margin: 10px 0;
  color: white;
  text-decoration: none;
  background-color: #00796b;
  border-radius: 5px;
  transition: background-color 0.3s;
}
main .genre .albums .album-container .album-links .album-button:hover {
  background-color: #004d40;
}
main .genre .albums .album-container:hover .album-links {
  display: flex;
}
main .popular {
  background-color: #4db6ac;
}
main .indie {
  background-color: #ffab91;
}
main .hiphop {
  background-color: #9575cd;
}
main .pop {
  background-color: #81d4fa;
}
main .jpop {
  background-color: #ffcc80;
}